* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(235, 149, 149); */
}
html {
  font-size: 62.5%;
  /* background-image: url("https://img.freepik.com/vector-gratis/fondo-estampado-pies-animales-adorables-ninos_1017-44586.jpg?w=740&t=st=1689614066~exp=1689614666~hmac=7cfda713abb4971d6d06811bd674921d49e43f24fe2f0e54bf8d7bb9e7137ebe"); */
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

span {
  font-size: 1.5rem;
  background-color: red;
}


.container-images {
  margin: 5vh auto;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}


.random-image {
  margin: 5px 0;
  width: 20rem;
  height: 15rem;
}

.button-add-favorites, .button-remove-favorite {
  position: relative;
  left: 8%;
  margin: 5px 0;
  width: 17rem;
  height: 3rem;
  box-shadow: 0 0 black;
}

.button-random-image {
  width: 17rem;
  height: 3rem;
  margin: auto;
}

.favorite-image {
  margin: 5px 0;
  width: 20rem;
  height: 15rem;
}


.remove-favorite {
  margin: 5px 0;
  width: 17rem;
  height: 3rem;
  box-shadow: 0 0 black;
}